{# admin/fields/attributes_collection.html.twig #}
{% block field_attributes_collection %}
    <ul>
        {% for item in value %}
            <li>
                <ul>
                    {% for key, val in item %}
                        <li><strong>{{ key }}:</strong> {{ val }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
